<nav>

  <% var url = "https%3A%2F%2Fprojects.sfchronicle.com%2F"+grunt.data.json.project.PROJECT.SUBFOLDER+"%2F"+grunt.data.json.project.PROJECT.SLUG+"%2F"; %>

  <a href="//www.sfchronicle.com" target="_blank">
    <div class="logo-link link">
      <img class="desk-logo" src="https://projects.sfchronicle.com/shared/logos/sfc_logo_white.png" />
      <img class="mobile-logo" src="https://projects.sfchronicle.com/shared/logos/sfletter_c_white.png" />
      <% /* Inverted option: */ if (false) { %>
      <img class="desk-logo" src="https://projects.sfchronicle.com/shared/logos/sfc_logo_black.png" />
      <img class="mobile-logo" src="https://projects.sfchronicle.com/shared/logos/sfletter_c_black.png" />
      <% } %>
    </div>
  </a>

  <div class="link">
    <a class="specialhead-top" href="//www.sfchronicle.com/special-reports/">Special Report</a>
  </div>

  <div class="link social email">
    <a id="mail-icon" title="Share via email" href="mailto:?subject=<%= grunt.data.json.project.title %>&body=<%= grunt.data.json.project.description %>%0A%0A<%= url %>">
      <i class="fas fa-envelope" aria-hidden="true"></i>
    </a>
  </div>

  <div class="link social">
    <a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=<%= url %>', 'facebook-share-dialog', 'width=626,height=436'); return false;">
      <i class="fab fa-facebook"></i>
    </a>
  </div>

  <div class="link social">
    <a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=<%= url %>&text=<%= grunt.data.json.project.twitter_text %>&hashtags=<%= grunt.data.json.project.hashtag %>">
      <i class="fab fa-twitter"></i>
    </a>
  </div>

</nav>
