<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
    <%= t.include("partials/_analytics_hearst.html") %>
  </head>
  <script>  var HDN = HDN || {}  </script>

  <body>

    <%= t.include("partials/_nav.html") %>
    <responsive-child>

      <div class="title-container">
    		<div class="background-img story">
    		    <div class="dim"></div>
    			<div class="over-img">
    				<p class="specialhead">Chronicle Investigation</p>
    				<h1 class="title long">Title title title</h1>
    				<p class="author">By Author Author</a></p>
    				<p class="date">Month DD, YYYY</p>
    			</div>
    		</div>
    	</div>

      <p class="caption landing">This is a caption. This is a caption.<span class="byline"> Person Person, Special to The Chronicle</span></p>

      <p>Nearly five years ago, Jodi Liano cold-called Daniel Patterson.</p>

      <p>At the time, Liano was a teacher at Tante Marie’s Cooking School, a program aimed at home cooks. Yet she was beginning to see an opportunity in San Francisco for a different type of culinary school; one that would ready students for the restaurant kitchen. In an effort to build an advisory board and help develop the appropriate curriculum, she started contacting local chefs. Patterson, the owner of Coi on Broadway, was first on her list.</p>

      <p class="text-hed">He was quick to shut her down.</p>

      <p>Liano still remembers his words: “He said, ‘I didn’t go to cooking school. I tell everyone they shouldn’t go to cooking school. I tell everyone it’s a waste of time and money.’”</p>

      <p>In what was perhaps an unexpected response, she agreed: “Well, so do I. And that’s exactly why you’re the person I want to talk to.”</p>

      <p>Almost 12 months after that first conversation, Liano opened the doors of San Francisco Cooking School. Patterson was one of its deans, along with Craig Stoll of Delfina and Bill Corbett, then at Absinthe.</p>

      <p>Nearly four years later, the school has, in many ways, achieved its initial goal: It has become a fixture in the restaurant and food community, a conduit between aspiring cooks and the businesses that crave them.</p>

      <p>Yet an unforeseen conundrum has materialized. On the one hand, Liano’s program has stayed true to its mission of giving cooks a restaurant-focused education they won’t necessarily find elsewhere. (Many chefs say her students are better prepared than any other entry-level cook.)</p>

      <p>On the other hand, the school’s Bay Area location means that Liano is consistently churning out graduates who are finding culinary-focused careers elsewhere — away from the restaurant world.</p>

      <p>From recipe development jobs at fledgling meal-kit companies to daytime cooking gigs in corporate cafeterias, the culinary program has — almost by default — become as much a feeder into a growing big-business and food-tech industry as it has into the restaurant world.</p>

      <p>“Food as a career used to be Plan B,” says Liano. The average age of a San Francisco Cooking School student is mid to late twenties, though she sees a full range.</p>

      <div class="max">
        <hr>

        <div class="credits">
          <div class="entry">Reporter:  <br>Name Name &bull; <a href="mailto:nname@sfchronicle.com">nname@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/namenamename" target="_blank">@namenamename</a></div>
          <div class="entry">Interactive producers:  <br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
          <br>Benjamin Din  &bull; <a href="mailto:bdin@sfchronicle.com">bdin@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/benjamindin" target="_blank">@benjamindin</a>
          <br>Lucio Villa  &bull; <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a></div>
        </div>

        <hr>

        <div class="dont-miss">
          <div class="story">
            <div class="padded">
            <a href="http://projects.sfchronicle.com/sf-homeless/" target="_blank">
              <img src="./assets/social/dont-miss-homeless.jpg"></img>
            </a>
              <div class="small">Beyond homelessness</div>
            </div>
          </div>
          <div class="story">
            <div class="padded">
            <a href="http://projects.sfchronicle.com/2016/visas/" target="_blank">
              <img src="./assets/social/dont-miss-visas.png"></img>
            </a>
              <div class="small">H-1B visas: who gets them, where they go</div>
            </div>
          </div>
          <div class="story">
            <div class="padded">
            <a href="http://projects.sfchronicle.com/2016/teacher-pay/" target="_blank">
              <img src="./assets/social/dont-miss-teacherpay.jpg"></img>
            </a>
              <div class="small">Teachers struggle to stay in SF</div>
            </div>
          </div>
          <div class="story">
            <div class="padded">
            <a href="http://projects.sfchronicle.com/2016/living-with-aids/" target="_blank">
              <img src="./assets/social/aids_special.png"></img>
            </a>
              <div class="small">Living with AIDS</div>
            </div>
          </div>
        </div>
      </div>

    </responsive-child>

    <%= t.include("partials/_footer.html") %>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
